# Based on licensing information in:
# https://github.com/vitejs/vite/raw/0b17ab3727202b8c87cb0e747c192e3527a5e1ee/packages/create-vite/LICENSE
#
# SPDX-FileCopyrightText: 2019-2025 VoidZero Inc. and Vite contributors
# SPDX-License-Identifier: CC0-1.0

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
