/*
  SPDX-License-Identifier: AGPL-3.0-only
  SPDX-FileCopyrightText: 2025 Jonas Tobias Hopusch <git@jotoho.de>
*/

* {
  box-sizing: border-box;
  border-collapse: collapse;
}

:root {
  width: 72em;
  max-width: 100vw;
  height: fit-content;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: medium;
  scrollbar-width: thin;
}

:root > body {
  display: contents;
  overflow: hidden;

  > main {
    flex-grow: 1;
    flex-shrink: 0;
    padding: max(min(1em, 1vh, 1vw), 1px);
    overflow: hidden;
  }
}

header,
footer {
  text-align: center;
}

header {
  border-bottom: 1px solid black;
}

footer {
  border-top: 1px solid black;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

h4,
h5,
h6 {
  font-size: medium;
}

:root > #toast {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  color: black;
  overflow: hidden;
  width: max-content;
  height: max-content;
  max-width: 100vw;
  max-height: 100vh;
  padding: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    scrollbar-color: black transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    scrollbar-color: white transparent;
  }

  header,
  footer,
  :root {
    border-color: white;
  }

  :root {
    color: white;
  }
}
